.list-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list-h{
    color: #fff;
    text-align: center;
    font-size: 45px;
    margin-bottom: 36px;
    margin-top: 35px;
}
.page-content-div{
    display: flex !important;
    flex-direction: column;
    width: 220px;
    padding: 5px 5px 75px 5px !important;
    margin: 15px 5px !important;
    border-radius: 10px !important;
    position: relative !important;
    background-color: #282c34 !important;
    cursor: pointer;
}
.remove{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 2px 9px;
    background-color: #282c34;
    color: #fff;
    font-weight: 500;
    border: none;
    border-color: transparent;
    border-radius: 20px;
    font-size: 20px;
}
.clear-btn-div{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.clear-btn{
    color: #282c34;
    font-size: 20px;
    border-color: transparent;
    padding: 4px 20px;
    border-radius: 25px;
}
.clear-btn:hover{
    color: #fff;
    background-color: red;
}
/*empty part*/
.empty-div1 , .empty-div2{
    text-align: center;
}
.empty-div1{
    padding-bottom: 323px;
    padding-top: 100px;
}
.empty-p1{
    color: #fff;
    font-size: 25px;
    margin-bottom: 40px;
}
.empty-p2{
    color: #fff;
    font-size: 30px;
    margin-bottom: 40px;
}
.empty-icon{
    color: red;
    font-size: 30px;
    margin-bottom: 30px;
}